<div class="mt-3 ms-3" style="width: 30rem;">
    <% if @user && @user.errors.any? %>
        <div class="alert alert-danger">
            <p>Please fix the errors below.</p>
            <ul class="rails-bootstrap-forms-error-summary">
                <% @user.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>
    <%= bootstrap_form_with(url: change_password_user_path) do |f|%>
        <%=f.password_field :current_password%>
        <%=f.password_field :new_password %>
        <%=f.password_field :new_password_confirmation %>
        <%= f.submit "Change Password", class: "btn btn-outline-primary" %>
    <% end %>
</div>