<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Blog On Rails</a>
    <div class="d-flex flex-row" id="navbarSupportedContent">
      <ul class="navbar-nav d-flex flex-row justify-content-evenly mb-2 mb-lg-0 ">
        <li class="nav-item mx-3">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item mx-3">
          <a class="nav-link active" href="<%=new_post_path%>">New Post</a>
        </li>
        <li class="nav-item mx-3 d-flex d-flex-direction-row align-items-baseline">
          <% if user_signed_in? %>
            <span class="d-flex d-flex-direction-row align-items-baseline me-3">Hi, <a class="nav-link active" href="<%= edit_user_path(current_user)%>"> <%= current_user.name %></a></span>
            <%= button_to "Sign Out", session_path, method: :delete, class: "btn btn-outline-primary"%>
          <% else %>
            <a class="nav-link active me-3" href="<%=new_session_path%>">Sign In</a>
            <a class="nav-link active" href="<%=new_user_path%>">Sign Up</a>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</nav>