<div class="mt-2 ms-3" style="width: 30rem;">
  <div class="card-body p-0">
    <h1 class="card-title"><%= @post.title%></h1>
    <p class="card-text text-break"><%= @post.body%></p>
    <span><small>Posted <%= time_ago_in_words(@post.created_at) %> ago</small></span>
    <div class="d-flex flex-row mt-3">
        <a href="<%= edit_post_path(@post)%>" class="btn btn-outline-primary me-2">Edit</a>
        <%= button_to 'Delete',post_path(@post), method: :delete, form: {data: {turbo_confirm: 'Are you sure?'}}, class:"btn btn-outline-primary me-2"%>
    </div>
  </div>
</div>
<br>
<div class="mt-3 ms-3" style="width: 30rem;">
  <h4>Comment</h4>
  <%= bootstrap_form_with(model: [@post, @comment]) do |f|%>
      <%=f.text_area :body, rows:3, placeholder: "What's in your mind?", hide_label: true%>
      <%=f.submit "Submit", class: "btn btn-outline-primary" %>
  <% end %>
</div>

<% @comments.each do |comment| %>
  <div class="my-3 ms-3" style="width: 30rem;">
    <p class="m-0 lh-sm text-break"><%= comment.body%></p>
    <span class="d-flex flex-row align-items-end"><small style="font-size: 12px;">Commented <%= time_ago_in_words(comment.created_at) %> ago&emsp;|&emsp;</small>
    <small><%= button_to "Delete", post_comment_path(@post, comment), method: :delete, form: {data: {turbo_confirm: 'Are you sure?'}}, class:"btn btn-link m-0 p-0 border-0 text-decoration-none",style:"font-size: 12px;"%></small></span>
  </div>
<% end %>
