<!DOCTYPE html>
<html>
  <head>
    <title>BlogOnRails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render "shared/navbar"%>
    <br>
    <% flash.each do |type, message| %>
      <% if type == "notice"%>
        <div class="alert alert-info mx-3" role="alert">
          <%= message %>
        </div>
      <% else %>
          <div class="alert alert-danger mx-3" role="alert">
          <%= message %>
        </div>
      <% end %>
    <% end %>
    <%= yield %>
  </body>
</html>
